::backdrop {
    background-color: lightblue;
}
.banner {
    color: pink;
    padding: 0.1cm;
}
h3 {
    font-size: 1.5em;
    border: 0.1px solid purple;
    display: inline;
    margin: 10px;
    
    border-radius: 15px;
    border-width: 0.1cm;
    padding: 0.1cm;
}
article {
    color: gray;
    
}
img {
    size: 10%;
}

footer {
    
    font-style: italic;
}



aside {
    background-color: lightpink;
}
