::backdrop {
    background-color: lightblue;
}
.banner {
    color: pink;
}
h3 {
    font-size: 1.5em;
    border: 5px solid purple;
    margin: 5px;
    border-radius: 25px;
    border-width: 0.5cm;
}
article {
    color: gray;
    
}
img {
    size: 10%;
}

footer {
    
    font-style: italic;
}



aside {
    background-color: lightpink;
}
